<h2>Formulario de Muestra</h2>

<!-- Parte 1: Datos de la Muestra -->
<div id="parte1">
    <h3>Datos de la Muestra</h3>
    <form id="formParte1">
        <label for="InstitucionNacimiento">Institución de Nacimiento:</label>
        <input type="text" id="InstitucionNacimiento" name="InstitucionNacimiento" placeholder="Institución de Nacimiento" /><br />

        <label for="HospitalMuestraInput">Hospital Muestra:</label>
        <input type="text" id="HospitalMuestraInput" list="datalistHospitalesMuestra" name="HospitalMuestra" autocomplete="off" placeholder="Hospital de la Muestra" required><br>
        <datalist id="datalistHospitalesMuestra">
            @foreach (Hospital hospital in ViewBag.Hospitales)
            {
                <option value="@hospital.NombreHospital"></option>
            }
        </datalist>
        <button type="button" onclick="saveParte1()">Siguiente</button>
    </form>
</div>

<!-- Parte 2: Datos del Bebé -->
<div id="parte2" style="display: none;">
    <h3>Datos del Bebé</h3>
    <form id="formParte2">
        <label for="ApellidoBebe">Apellido del Bebé:</label>
        <input type="text" id="ApellidoBebe" name="ApellidoBebe" placeholder="Apellido del Bebé" /><br />

        <label for="NombreBebe">Nombre del Bebé:</label>
        <input type="text" id="NombreBebe" name="NombreBebe" placeholder="Nombre del Bebé" /><br />

        <label for="FechaHoraNacimiento">Fecha y Hora de Nacimiento:</label>
        <input type="datetime-local" id="FechaHoraNacimiento" name="FechaHoraNacimiento" /><br />

        <label for="FechaHoraExtraccion">Fecha y Hora de Extracción:</label>
        <input type="datetime-local" id="FechaHoraExtraccion" name="FechaHoraExtraccion" /><br />

        <label for="Sexo">Sexo:</label>
        <select id="Sexo" name="Sexo">
            <option value="null"></option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="I">Indeterminado</option>
        </select><br />

        <label for="Alimentacion">Alimentación:</label>
        <select id="Alimentacion" name="Alimentacion" required>
            <option value="null"></option>
            <option value="Biberon">Biberón</option>
            <option value="Pecho">Pecho</option>
            <option value="AyunoEnteral">Ayuno enteral</option>
            <option value="Parental">Parental</option>
        </select><br />

        <label for="FechaIngestaLeche">Fecha de Ingesta de Leche:</label>
        <input type="datetime-local" id="FechaIngestaLeche" name="FechaIngestaLeche" /><br />

        <label for="SemanasGestacion">Semanas de Gestación:</label>
        <input type="number" id="SemanasGestacion" name="SemanasGestacion" placeholder="Semanas de Gestación" onkeyup="validarSemanasGestacion()" autocomplete="off" /><br />

        <label for="Peso">Peso:</label>
        <input type="number" id="Peso" name="Peso" placeholder="Peso en gramos"/><br />

        <label for="CondicionRN">Condición al Nacer:</label>
        <select id="CondicionRN" name="CondicionRN" required>
            <option value="null"></option>
            <option value="Sano">Sano</option>
            <option value="Enfermo">Enfermo</option>
            <option value="CuidadosIntensivos">Cuidados Intensivos</option>
        </select><br />

        <label for="PatologiaBase">Patología Base:</label>
        <input type="text" id="PatologiaBase" name="PatologiaBase" placeholder="Patología Base"  /><br />

        <label for="Parto">Tipo de Parto:</label>
        <select id="Parto" name="Parto">
            <option value="null"></option>
            <option value="Termino">A término</option>
            <option value="Prematuro">Prematuro</option>
        </select><br />

        <label for="EmbarazoMultiple">Embarazo Múltiple:</label>
        <select id="EmbarazoMultiple" name="EmbarazoMultiple" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br />

        <label for="EmbarazoGemelar">Embarazo Gemelar:</label>
        <select id="EmbarazoGemelar" name="EmbarazoGemelar" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br />

        <button type="button" onclick="goBack(1)">Anterior</button>
        <button type="button" onclick="saveParte2()">Siguiente</button>
    </form>
</div>

<!-- Parte 3: Datos de la Madre -->
<div id="parte3" style="display: none;">
    <h3>Datos de la Madre</h3>
    <form id="formParte3">
        <legend>Datos de la Madre</legend>
        <label for="ApellidoMama">Apellido de la Madre:</label>
        <input type="text" id="ApellidoMama" name="ApellidoMama" autocomplete="off" required ><br>

        <label for="NombreMama">Nombre de la Madre:</label>
        <input type="text" id="NombreMama" name="NombreMama" autocomplete="off" required ><br>

        <label for="Documento">Documento de la Madre:</label>
        <input type="number" id="Documento" name="Documento" autocomplete="off" onkeyup="ConfirmarDNI()" required>
        <div class="alert alert-info" role="alert" style="padding:.10rem;">
            <span style="color: red;font-size:0.85em;" id="mensajeB"> El DNI debe contener 8 dígitos</span><br><br>
        </div>

        <label for="Domicilio">Domicilio de la Madre:</label>
        <input type="text" id="Domicilio" name="Domicilio" autocomplete="off" ><br>

        <label for="Localidad">Localidad de la Madre:</label>
        <input type="text" id="Localidad" name="Localidad" autocomplete="off" ><br>

        <label for="Telefono">Teléfono de la Madre:</label>
        <input type="tel" onkeyup="ConfirmarMinimo(7)" id="Telefono" name="Telefono" autocomplete="off" ><br>
        <div class="alert alert-info" role="alert" style="padding:.10rem;">
            <span style="color: red;font-size:0.85em;" id="mensajeC"> El Teléfono debe contener al menos 7 dígitos</span><br><br>
        </div>

        <label for="LugarControlEmbarazo">Lugar de Control del Embarazo:</label>
        <input type="text" id="LugarControlEmbarazo" name="LugarControlEmbarazo" autocomplete="off" ><br>

        <label for="Antibioticos">Antibióticos durante el Embarazo:</label>
        <select id="Antibioticos" name="Antibioticos" required>
            <option value="null"></option>
            <option value="true" >Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="DesinfectantesYodados">Desinfectantes Yodados:</label>
        <select id="DesinfectantesYodados" name="DesinfectantesYodados" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="Transfusion">Transfusión:</label>
        <select id="Transfusion" name="Transfusion" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="FechaTransfusion">Fecha de Transfusión:</label>
        <input type="datetime-local" id="FechaTransfusion" name="FechaTransfusion" autocomplete="off" required><br>

        <label for="Dopamina">Dopamina:</label>
        <select id="Dopamina" name="Dopamina" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="Dobutamina">Dobutamina:</label>
        <select id="Dobutamina" name="Dobutamina" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="CorticoidesMadre">Corticoides (Madre):</label>
        <select id="CorticoidesMadre" name="CorticoidesMadre" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="CorticoidesBebe">Corticoides (Bebé):</label>
        <select id="CorticoidesBebe" name="CorticoidesBebe" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="Tiroidepatias">Tiroides (Patologías):</label>
        <select id="Tiroidepatias" name="Tiroidepatias" required>
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="Otras">Otras Consideraciones:</label>
        <input type="text" id="Otras" name="Otras" autocomplete="off"><br>

        <button type="button" onclick="goBack(2)">Anterior</button>
        <button type="button" onclick="saveParte3()">Siguiente</button>
    </form>
</div>

<!-- Parte 4: Datos Clínicos -->
<div id="parte4" style="display: none;">
    <h3>Detalles adicionales y observaciones</h3>
    <form id="formParte4">
        <label for="RepiteMuestra">Repite Muestra:</label>
        <select id="RepiteMuestra" name="RepiteMuestra">
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="Prematuro">Prematuro:</label>
        <select id="Prematuro" name="Prematuro">
            <option value="null"></option>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="MalaMuestra">Mala Muestra:</label>
        <select id="MalaMuestra" name="MalaMuestra">
            <option value="null"></option>
            <option value="true" >Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="ResultadoAlterado">Resultado Alterado:</label>
        <select id="ResultadoAlterado" name="ResultadoAlterado">
            <option value="null"></option>
            <option value="true"  >Sí</option>
            <option value="false">No</option>
        </select><br>

        <label for="Analitico">Es Analítico:</label>
        <select id="Analitico" name="Analitico">
            <option value="null"></option>
            <option value="true" >Sí</option>
            <option value="false">No</option>
        </select><br>

        <button type="button" onclick="goBack(3)">Anterior</button>
        <button type="button" onclick="saveParte4()">Siguiente</button>
    </form>
</div>

<!-- Parte 5: Datos de Envío -->
<div id="parte5" style="display: none;">
    <h3>Datos de Envío</h3>
    <form id="formParte5">
        <legend>Responsable y Firma/Sello</legend>
        <label for="Responsable">Responsable:</label>
        <input type="text" id="Responsable" name="Responsable" autocomplete="off" ><br>

        <label for="RolResponsable">Rol del Responsable:</label>
        <input type="text" id="RolResponsable" name="RolResponsable" autocomplete="off" ><br>

        <legend>Fechas de Envío y Llegada</legend>
        <label for="FechaEnvio">Fecha de Envío:</label>
        <input type="datetime-local" id="FechaEnvio" name="FechaEnvio" autocomplete="off" required><br>

        <label for="FechaLlegada">Fecha de Llegada:</label>
        <input type="datetime-local" id="FechaLlegada" name="FechaLlegada" autocomplete="off" required><br>

        <div class="form-section">
            <legend>Observaciones</legend>
            <textarea id="Observaciones" name="Observaciones" rows="4" cols="50"></textarea><br>
        </div>
        <button type="button" onclick="goBack(4)">Anterior</button>
        <button type="button" onclick="submitForm()">Enviar</button>
    </form>
</div>

<!-- Parte 6: Datos de Envío -->
<div id="parte6" style = "display:none;">
    <form id="formParte6" method = 'POST' enctype="multipart/form-data" action = '@Url.Action("ActualizarMuestra")'>
    <input type = hidden id= "parte6IdMuestra"name="idMuestra">
    <h4>Termina de cargar tus datos</h4>
        <label for="FirmaSello">Firma y Sello:</label>
        <input id="FirmaSello" type="file" name="firmaSello1" placeholder="Subir foto de la firma" required><br><br>
        <input type="submit" value = "enviar">
    </form>
</div>
